.login-form {
    margin-top: 80px;
};

.link-recover {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

    color: #407bff;
};

.login-submit {
    margin-top: 100px;
    margin-bottom: 35px;
};

.not-registered {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;

    color: #9e9e9e;
};

.link-register {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #407bff;

    margin-left: 10px;
}

@media (max-width: 576px) {
    .footer-register {
        margin-bottom: 70px;
    }
}