.product-card {
    padding: 18px 20px 30px 20px;
    text-align: center;

    .product-price-container {
        margin-top: 20px;
    }
}

.product-info {
    border-top: 1px solid #e1e1e1;
    text-align: left;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.0015em;
    color: #263238;
}

.product-card-img {
    width: 160px;
    height: 160px;
}

@media (max-width: 768px) {
    .product-card {
        padding: 10px 10px 30px 10px;
    }
}