.catalog-container {
    margin-top: 26px;
    padding: 0 40px 50px 40px; //paddin: top right bottom left
}

.catalog-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.catalog-product {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 33px 30px;
    justify-content: space-between;
}